body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#toggle-filters {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px; /* パディングを少し広げてボタンを大きく見せる */
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  z-index: 1000; /* 常に最前面に表示 */
  height: 40px; /* ボタンの高さを倍に */
  width: 40px; /* ボタンの幅を倍に */
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  box-sizing: border-box; /* ボタン全体のサイズを正しく計算するため */
}
#toggle-filters i {
  font-size: 36px; /* アイコンのサイズを大きくする */
}

#filters-container {
  display: none; 
  position: fixed;
  top: 10px;
  right: 10px;
  width: 200px; /* 横幅を小さめに調整 */
  padding: 10px;
  background-color: #f9f9f9; /* 背景色で区切り感を出す */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#date-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.date-filter-row {
  display: flex;
  align-items: center;
}

.flatpickr-input {
  width: 60px;
  height: 30px;
  margin: 3px;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}

button.clear-date {
  font-size: 24px;
  background-color: transparent;
  color: red;
  border: none;
  margin-right: 2px;
  padding: 0px;
  cursor: pointer;
  line-height: 1; /* ボタンの高さを調整 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-tilde {
  font-size: 20px;
  margin: 0 5px;
  display: flex;
  align-items: center; /* 縦中央揃え */
}


#user-filter {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}
#user-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
#selected-users {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}


.user-badge {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.user-badge button {
  margin-left: 5px;
  border: none;
  background-color: transparent;
  color: #ff5c5c;
  font-weight: bold;
  cursor: pointer;
}

.user-badge button:hover {
  color: #ff0000;
}
.remove-user-badge{
  font-size: 24px;
}



#all-team-info-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.user-row {
  display: flex;
  flex-direction: column; 
  flex: 1; /* 各カラムの幅 */
  margin: 10px;
  padding: 10px;
  min-width: 300px; 
  overflow: hidden; /* カラム内で要素が収まるように */
  border: solid 1px #657786;
  white-space: pre-wrap;
}

.catch-phrase, .user-title{
  text-align: center;
}
.cover-image {
  max-width: 100%; /* 画像の幅を親要素に合わせる */
  height: auto; /* 高さを自動で調整 */
  display: block; /* 画像が意図した通りに表示されるようにする */
  margin: 10px 0; /* 画像の上下に少し余白を追加 */
}

.show-tweets-button{
  color: white;
  background-color: #1d9bf0;
  border: solid 1px #1d9bf0;
  border-radius: 10px;
}
.tweet-container{
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 500px;
  padding: 5px;
  margin: 5px;
}

.tweet-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.repost-info{
  margin-left: 10px;
  color: #71767B;
}
.icon-and-timestamp{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.twitter-user-info{
  font-size: 12px;
}
.tweet-content {
  white-space: pre-wrap; /* 改行を反映させる */
  line-height: 1.4;
  word-wrap: break-word; /* 長いテキストの折り返しを有効にする */
  max-width: 500px; /* 必要に応じてコンテンツの最大幅を調整 */
  padding: 5px;
}

.attached-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  margin-top: 8px;
}

.tweet-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin: 6px 20px;
  font-size: 12px;
  color: #657786;
}

svg {
  height: 20px;
  width: 20px;
  margin-right: 5px; 
}

.tweet-source-link{
  margin: 10px;
  font-size: 12px;
  text-decoration: none; 
  text-align: center;
  padding: 2px 4px; 
  border: 1px solid blue; 
  border-radius: 20px; /* 楕円形にするための角丸 */
  transition: background-color 0.3s; /* マウスオーバー時の背景色変更をスムーズにする */
  cursor: pointer;
}
.tweet-source-link:hover{
  background-color: #e0ffff;
}



